[project]
	description = ISHA foundation backend
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Siddhrans (siddhrans)
	owner = group user/Varun B P (Varun-BP)
	label-Code-Review = -2..+2 group user/Varun B P (Varun-BP)
	label-Verified = -1..+1 group user/Varun B P (Varun-BP)
	submit = group user/Varun B P (Varun-BP)
[access "refs/for/refs/*"]
	read = group user/Siddhrans (siddhrans)
	push = group user/Siddhrans (siddhrans)
	label-Code-Review = -2..+2 group user/Siddhrans (siddhrans)
	label-Verified = -1..+1 group user/Siddhrans (siddhrans)
	rebase = group user/Siddhrans (siddhrans)
	removeReviewer = group user/Siddhrans (siddhrans)
	submit = group user/Siddhrans (siddhrans)
[access "refs/heads/*"]
	read = group user/Siddhrans (siddhrans)
	create = group user/Siddhrans (siddhrans)
	push = +force group user/Siddhrans (siddhrans)
	pushMerge = group user/Siddhrans (siddhrans)
[access "refs/tags/*"]
	push = group user/Siddhrans (siddhrans)
	push = +force group user/Siddhrans (siddhrans)
